:root {
    --verde: #7f8a52;
    --amarelo: #f8b026;
    --vermelho: #a12521;
    --laranja: #ca4613;
    --creme: #f7e0a9;
    --branco: #fff;
}

/* fontes */
span,
label,
p,
a,
li {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* titulos */
h1,
h2 {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    letter-spacing: 3rem,
}

.fonte-vermelha {
    color: var(--vermelho);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--creme);
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
}

header nav span {
    text-decoration: none;
    color: var(--verde);
    font-weight: 800;
}

header nav ul li a:hover {
    color: var(--laranja);
}

/* menu mobile */

.menu-hamburguer {
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1000;
    gap: 3px;
}

.menu-hamburguer span {
    background-color: var(--laranja);
    border-radius: 10px;
    transition: 0.3s;
    height: 30px;
    width: 1005;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gap-2 {
    gap: 1rem;
}

.gap-4 {
    gap: 2rem;
}

.gap-6 {
    gap: 3rem;
}

.my-2 {
    margin: 1rem 0;
}

.my-4 {
    margin: 2rem 0;
}

.my-6 {
    margin: 3rem 0;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.btn-default {
    background-color: var(--vermelho);
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color: var(--branco);
    font-weight: bold;
}

input {
    font-size: 18px;
    padding: 1rem;
    border: none;
    border-radius: 4px;
}

::placeholder {
    color: #7f8a52ad;
}

textarea,
input:focus-visible {
    outline: none;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: var(--branco);
    font-size: 16px;
    resize: none;
}

label {
    pointer-events: none;
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
}

.section {
    width: 65%;
    height: auto;
    padding: 2rem 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
}

.section-title {
    width: 70%;
    text-align: center;
    gap: 5px
}

.card {
    height: auto;
    width: 100%;
    background-color: var(--branco);
    border-radius: 1rem;
}

.card-img {
    height: 12rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem
}

.card-body {
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    height: 100%;
    text-align: center;
}

.card-button {
    background-color: var(--amarelo);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: var(--branco);
    font-weight: bold;
    font-size: 1rem;
}

.card-button:hover {
    background-color: var(--vermelho);
    cursor: pointer;
}

footer {
    background-color: var(--vermelho);
    width: 100%;
    height: auto;
}

footer a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
}

footer a:hover {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
    color: var(--creme)
}

#img-footer {
    height: 16rem;
    width: auto;
    background-image: url("/src/assets/ilu-footer-desktop.svg");
}

#footer-content {
    width: 90%;
    justify-content: space-between;
    color: var(--branco);
}

#footer-nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#footer-nav ul {
    list-style: none;
    padding: 0;
    gap: 3rem;
}

#footer-logo {
    padding: 1rem 1rem 0 1rem;
}

/* responsividade */
@media (max-width: 768px) {
    header {
        position: relative;
    }

    #nossos-cookies {
        display: none !important;
    }

    .menu-hamburguer {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1002;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        cursor: pointer;
        z-index: 1000;
        gap: 3px;
    }

    .menu-hamburguer span {
        background-color: var(--amarelo);
        border-radius: 10px;
        transition: 0.3s;
        height: 30px;
        width: 1005;
    }

    nav {
        display: none !important;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: var(--creme);
        flex-direction: column;
        align-items: center;
        padding: 20px;
        z-index: 1001;
    }

    /*força a exibição quando tiver a classe active*/
    nav.active {
        display: flex !important;
        padding: 0;
    }

    nav .nav-list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    /* transformar em X */
    .open span:nth-child(1) {
        transform: rotate(45deg) translate(3px, 3px);
    }

    .open span:nth-child(2) {
        opacity: 0;
    }

    .open span:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -10px);
    }

    #footer-nav {
        flex-direction: column;
    }

    #footer-nav ul {
        flex-direction: column;
        align-items: center;
    }

    #img-footer {
        background-image: url("/src/assets/ilu-footer-mobile.svg");
    }
}